p{
color:blue;
font-weight:700;
}
.headerelement {
font-size:48px;
text-align:center;
}
#headerfont{
color:yellow;
text-align:center;
}
.calgary{
width:300px;
height:100px;
display:left;
}
.fill{
border: 2px solid red;
display:right;
}
